<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}

      {% endblock %}
    </title>
    <!-- CDNS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--css link-->
</head>
  <style>
.nav li a {
    color: rgb(224, 58, 66);
    font-size: 20px;
}
.navbar-brand {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
</style>

<body>
    <!-- NAVBAR START -->
    <nav class="navbar navbar-bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jobportal</a>
            </div>
            <ul class="nav navbar-nav mx-auto ">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'jobs' %}">jobs</a></li>
                <li><a href="{% url 'posts' %}">posts</a></li>
                <li><a href="{% url 'contacts' %}">Contact</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
            
            <h3>{{user.username}}</h3>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <!-- Content here -->
    {%block content%}

    {% endblock %}
</body>
</html>
